#######################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################
{%- set c = content %}
{%- set logs = airflow_home ~ '/logs' if 'base_log_folder' not in c.core else c.core.base_log_folder %}

{%- set f = flask %}
{%- set basehost = '0.0.0.0' if 'web_server_host' not in f.webserver else f.webserver.web_server_host %}
{%- set baseport = '18080' if 'web_server_port' not in f.webserver else f.webserver.web_server_port %}
{%- set baseurl = 'http://' ~ basehost ~ ':' ~ baseport %}

[core]
# The folder where your airflow pipelines live, most likely a
# subfolder in a code repository. This path must be absolute.
dags_folder = {{ airflow_home ~ '/dags' if 'dags_folder' not in c.core else c.core.dags_folder }}

# Hostname by providing a path to a callable, which will resolve the hostname.
# The format is "package.function".
#
# For example, default value "socket.getfqdn" means that result from getfqdn() of "socket"
# package will be used as hostname.
#
# No argument should be required in the function specified.
# If using IP address as hostname is preferred, use value ``airflow.utils.net.get_host_ip_address``
hostname_callable = {{ 'socket.getfqdn' if 'hostname_callable' not in c.core else c.core.hostname_callable }}

# Default timezone in case supplied date times are naive
# can be utc (default), system, or any IANA timezone string (e.g. Europe/Amsterdam)
default_timezone = {{ 'utc' if 'default_timezone' not in c.core else c.core.default_timezone }}

# The executor class that airflow should use. Choices include
# ``SequentialExecutor``, ``LocalExecutor``, ``CeleryExecutor``, ``DaskExecutor``,
# ``KubernetesExecutor``, ``CeleryKubernetesExecutor`` or the
# full import path to the class when using a custom executor.
executor = {{ 'CeleryExecutor' if 'executor' not in c.core else c.core.executor }}

# The SqlAlchemy connection string to the metadata database.
# SqlAlchemy supports many different database engine, more information
# their website
sql_alchemy_conn = {{ 'sqlite:////home/airflow/airflow/airflow.db' if 'sql_alchemy_conn' not in c.core else c.core.sql_alchemy_conn }}

# The encoding for the databases
sql_engine_encoding = utf-8

# Collation for ``dag_id``, ``task_id``, ``key`` columns in case they have different encoding.
# This is particularly useful in case of mysql with utf8mb4 encoding because
# primary keys for XCom table has too big size and ``sql_engine_collation_for_ids`` should
# be set to ``utf8mb3_general_ci``.
# sql_engine_collation_for_ids =

# If SqlAlchemy should pool database connections.
sql_alchemy_pool_enabled = {{ 'true' if 'sql_alchemy_pool_enabled' not in c.core else c.core.sql_alchemy_pool_enabled }}

# The SqlAlchemy pool size is the maximum number of database connections
# in the pool. 0 indicates no limit.
sql_alchemy_pool_size = {{ '5' if 'sql_alchemy_pool_size' not in c.core else c.core.sql_alchemy_pool_size }}

# The maximum overflow size of the pool.
# When the number of checked-out connections reaches the size set in pool_size,
# additional connections will be returned up to this limit.
# When those additional connections are returned to the pool, they are disconnected and discarded.
# It follows then that the total number of simultaneous connections the pool will allow
# is pool_size + max_overflow,
# and the total number of "sleeping" connections the pool will allow is pool_size.
# max_overflow can be set to ``-1`` to indicate no overflow limit;
# no limit will be placed on the total number of concurrent connections. Defaults to ``10``.
sql_alchemy_max_overflow = {{ '10' if 'sql_alchemy_max_overflow' not in c.core else c.core.sql_alchemy_max_overflow }}

# The SqlAlchemy pool recycle is the number of seconds a connection
# can be idle in the pool before it is invalidated. This config does
# not apply to sqlite. If the number of DB connections is ever exceeded,
# a lower config value will allow the system to recover faster.
sql_alchemy_pool_recycle = {{ '1800' if 'sql_alchemy_pool_recycle' not in c.core else c.core.sql_alchemy_pool_recycle }}

# Check connection at the start of each connection pool checkout.
# Typically, this is a simple statement like "SELECT 1".
# More information here:
# https://docs.sqlalchemy.org/en/13/core/pooling.html#disconnect-handling-pessimistic
sql_alchemy_pool_pre_ping = True

# The schema to use for the metadata database.
# SqlAlchemy supports databases with the concept of multiple schemas.
sql_alchemy_schema =

# Import path for connect args in SqlAlchemy. Defaults to an empty dict.
# This is useful when you want to configure db engine args that SqlAlchemy won't parse
# in connection string.
# See https://docs.sqlalchemy.org/en/13/core/engines.html#sqlalchemy.create_engine.params.connect_args
# sql_alchemy_connect_args =

# The amount of parallelism as a setting to the executor. This defines
# the max number of task instances that should run simultaneously
# on this airflow installation
parallelism = {{ '32' if 'parallelism' not in c.core else c.core.parallelism }}

# The number of task instances allowed to run concurrently by the scheduler
# in one DAG. Can be overridden by ``concurrency`` on DAG level.
dag_concurrency = {{ '16' if 'dag_concurrency' not in c.core else c.core.dag_concurrency }}

# Are DAGs paused by default at creation
dags_are_paused_at_creation = {{ 'True' if 'dags_are_paused_at_creation' not in c.core else c.core.dags_are_paused_at_creation }}

# The maximum number of active DAG runs per DAG
max_active_runs_per_dag = {{ '16' if 'max_active_runs_per_dag' not in c.core else c.core.max_active_runs_per_dag }}

# Whether to load the DAG examples that ship with Airflow. It's good to
# get started, but you probably want to set this to ``False`` in a production
# environment
load_examples = {{ 'False' if 'load_examples' not in c.core else c.core.load_examples }}

# Whether to load the default connections that ship with Airflow. It's good to
# get started, but you probably want to set this to ``False`` in a production
# environment
load_default_connections = {{ 'True' if 'load_default_connections' not in c.core else c.core.load_default_connections }}

# Path to the folder containing Airflow plugins
plugins_folder = {{ airflow_home ~ '/plugins' if 'plugins_folder' not in c.core else c.core.plugins_folder }}

# Should tasks be executed via forking of the parent process ("False",
# the speedier option) or by spawning a new python process ("True" slow,
# but means plugin changes picked up by tasks straight away)
execute_tasks_new_python_interpreter = {{ 'False' if 'execute_tasks_new_python_interpreter' not in c.core else c.core.execute_tasks_new_python_interpreter}}

# Secret key to save connection passwords in the db
fernet_key = {{ 'UU9cp19SHnJUthDmi_ydpw4yeK3d-gYYFjR_TF16Ka8=' if 'fernet_key' not in c.core else c.core.fernet_key }}

# Whether to disable pickling dags
donot_pickle = True

# How long before timing out a python file import
dagbag_import_timeout = {{ '30' if 'dagbag_import_timeout' not in c.core else c.core.dagbag_import_timeout }}

# Should a traceback be shown in the UI for dagbag import errors,
# instead of just the exception message
dagbag_import_error_tracebacks = True

# If tracebacks are shown, how many entries from the traceback should be shown
dagbag_import_error_traceback_depth = 2

# How long before timing out a DagFileProcessor, which processes a dag file
dag_file_processor_timeout = {{ '50' if 'dag_file_processor_timeout' not in c.core else c.core.dag_file_processor_timeout }}

# The class to use for running task instances in a subprocess.
# Choices include StandardTaskRunner, CgroupTaskRunner or the full import path to the class
# when using a custom task runner.
task_runner = {{ 'StandardTaskRunner' if 'task_runner' not in c.core else c.core.task_runner }}

# If set, tasks without a ``run_as_user`` argument will be run with this user
# Can be used to de-elevate a sudo user running Airflow when executing tasks
default_impersonation = {{ '' if 'default_impersonation' not in c.core else c.core.default_impersonation }}

# What security module to use (for example kerberos)
security = {{ '' if 'security' not in c.core else c.core.security }}

# Turn unit test mode on (overwrites many configuration options with test
# values at runtime)
unit_test_mode = {{ 'False' if 'unit_test_mode' not in c.core else c.core.unit_test_mode }}

# Whether to enable pickling for xcom (note that this is insecure and allows for
# RCE exploits).
enable_xcom_pickling = False

# When a task is killed forcefully, this is the amount of time in seconds that
# it has to cleanup after it is sent a SIGTERM, before it is SIGKILLED
killed_task_cleanup_time = 60

# Whether to override params with dag_run.conf. If you pass some key-value pairs
# through ``airflow dags backfill -c`` or
# ``airflow dags trigger -c``, the key-value pairs will override the existing ones in params.
dag_run_conf_overrides_params = {{ 'True' if 'dag_run_conf_overrides_params' not in c.core else c.core.dag_run_conf_overrides_params }}

# When discovering DAGs, ignore any files that don't contain the strings ``DAG`` and ``airflow``.
dag_discovery_safe_mode = True

# The number of retries each task is going to have by default. Can be overridden at dag or task level.
default_task_retries = 0

# Updating serialized DAG can not be faster than a minimum interval to reduce database write rate.
min_serialized_dag_update_interval = 30

# Fetching serialized DAG can not be faster than a minimum interval to reduce database
# read rate. This config controls when your DAGs are updated in the Webserver
min_serialized_dag_fetch_interval = 10

# Whether to persist DAG files code in DB.
# If set to True, Webserver reads file contents from DB instead of
# trying to access files in a DAG folder.
# Example: store_dag_code = False
store_dag_code = {{ 'False' if 'store_dag_code' not in c.core else c.core.store_dag_code }}

# Maximum number of Rendered Task Instance Fields (Template Fields) per task to store
# in the Database.
# All the template_fields for each of Task Instance are stored in the Database.
# Keeping this number small may cause an error when you try to view ``Rendered`` tab in
# TaskInstance view for older tasks.
max_num_rendered_ti_fields_per_task = 30

# On each dagrun check against defined SLAs
check_slas = True

# Path to custom XCom class that will be used to store and resolve operators results
# Example: xcom_backend = path.to.CustomXCom
xcom_backend = airflow.models.xcom.BaseXCom

# By default Airflow plugins are lazily-loaded (only loaded when required). Set it to ``False``,
# if you want to load plugins whenever 'airflow' is invoked via cli or loaded from module.
lazy_load_plugins = True

# By default Airflow providers are lazily-discovered (discovery and imports happen only when required).
# Set it to False, if you want to discover providers whenever 'airflow' is invoked via cli or
# loaded from module.
lazy_discover_providers = True

# Number of times the code should be retried in case of DB Operational Errors.
# Not all transactions will be retried as it can cause undesired state.
# Currently it is only used in ``DagFileProcessor.process_file`` to retry ``dagbag.sync_to_db``.
max_db_retries = 3

# UI to hide sensitive variable fields when set to True
hide_sensitive_var_conn_fields = True

[logging]
# The folder where airflow should store its log files
# This path must be absolute
base_log_folder = {{ logs }}

# Airflow can store logs remotely in AWS S3, Google Cloud Storage or Elastic Search.
# Set this to True if you want to enable remote logging.
remote_logging = {{ 'False' if 'remote_logging' not in c.logging else c.logging.remote_logging }}

# Users must supply an Airflow connection id that provides access to the storage
# location.
remote_log_conn_id = {{ '' if 'remote_log_conn_id' not in c.core else c.core.remote_log_conn_id }}

# Path to Google Credential JSON file. If omitted, authorization based on `the Application Default
# Credentials
# <https://cloud.google.com/docs/authentication/production#finding_credentials_automatically>`__ will
# be used.
google_key_path = {{ '' if 'google_key_path' not in c.logging else c.logging.google_key_path }}

# Storage bucket URL for remote logging
# S3 buckets should start with "s3://"
# Cloudwatch log groups should start with "cloudwatch://"
# GCS buckets should start with "gs://"
# WASB buckets should start with "wasb" just to help Airflow select correct handler
# Stackdriver logs should start with "stackdriver://"
remote_base_log_folder = {{ '' if 'remote_base_log_folder' not in c.core else c.core.remote_base_log_folder }}

# Use server-side encryption for logs stored in S3
encrypt_s3_logs = {{ 'False' if 'encrypt_s3_logs' not in c.core else c.core.encrypt_S3_logs }}

# Logging level
logging_level = {{ 'INFO' if 'logging_level' not in c.core else c.core.logging_level }}

# Logging level for Flask-appbuilder UI
fab_logging_level = {{ 'WARN' if 'fab_logging_level' not in c.core else c.core.fab_logging_level }}

# Logging class
# Specify the class that will specify the logging configuration
# This class has to be on the python classpath
# Example: logging_config_class = my.path.default_local_settings.LOGGING_CONFIG
logging_config_class = {{ '' if 'logging_config_class' not in c.core else c.core.logging_config_class }}

# Flag to enable/disable Colored logs in Console
# Colour the logs when the controlling terminal is a TTY.
colored_console_log = {{ 'True' if 'colored_console_log' not in c.core else c.core.colored_console_log }}

{% raw %}

# Log format for when Colored logs is enabled
colored_log_format = [%%(blue)s%%(asctime)s%%(reset)s] {%%(blue)s%%(filename)s:%%(reset)s%%(lineno)d} %%(log_color)s%%(levelname)s%%(reset)s - %%(log_color)s%%(message)s%%(reset)s
colored_formatter_class = airflow.utils.log.colored_log.CustomTTYColoredFormatter

# Format of Log line
log_format = [%%(asctime)s] {%%(filename)s:%%(lineno)d} %%(levelname)s - %%(message)s
simple_log_format = %%(asctime)s %%(levelname)s - %%(message)s

# Specify prefix pattern like mentioned below with stream handler TaskHandlerWithCustomFormatter
# Example: task_log_prefix_template = {ti.dag_id}-{ti.task_id}-{execution_date}-{try_number}
task_log_prefix_template =

# Formatting for how airflow generates file names/paths for each task run.
log_filename_template = {{ ti.dag_id }}/{{ ti.task_id }}/{{ ts }}/{{ try_number }}.log

# Formatting for how airflow generates file names for log
log_processor_filename_template = {{ filename }}.log

{% endraw %}

# full path of dag_processor_manager logfile
dag_processor_manager_log_location = {{ logs }}/dag_processor_manager/dag_processor_manager.log

# Name of handler to read task instance logs.
# Defaults to use ``task`` handler.
task_log_reader = {{ 'task' if 'task_log_reader' not in c.core else c.core.task_log_reader }}

# A comma\-separated list of third-party logger names that will be configured to print messages to
# consoles\.
# Example: extra_loggers = connexion,sqlalchemy
extra_loggers = {{ '' if 'extra_loggers' not in c.core else c.core.extra_loggers }}

[metrics]

# StatsD (https://github.com/etsy/statsd) integration settings.
# Enables sending metrics to StatsD.
statsd_on = {{ 'False' if 'statsd_on' not in c.metrics else c.metrics.statsd_on }}
statsd_host = {{ 'localhost' if 'statsd_host' not in c.metrics else c.metrics.statsd_host }}
statsd_port = {{ '8125' if 'statsd_port' not in c.metrics else c.metrics.statsd_port }}
statsd_prefix = {{ 'airflow' if 'statsd_prefix' not in c.metrics else c.metrics.statsd_prefix }}

# If you want to avoid sending all the available metrics to StatsD,
# you can configure an allow list of prefixes (comma separated) to send only the metrics that
# start with the elements of the list (e.g: "scheduler,executor,dagrun")
statsd_allow_list = {{ '' if 'statsd_allow_list' not in c.metrics else c.metrics.statsd_allow_list }}

# A function that validate the statsd stat name, apply changes to the stat name if necessary and return
# the transformed stat name.
#
# The function should have the following signature:
# def func_name(stat_name: str) -> str:
stat_name_handler = {{ '' if 'statsd_name_handler' not in c.metrics else c.metrics.statsd_name_handler }}

# To enable datadog integration to send airflow metrics.
statsd_datadog_enabled = {{ 'False' if 'statsd_datadog_enabled' not in c.metrics else c.metrics.statsd_datadog_enabled }}

# List of datadog tags attached to all metrics(e.g: key1:value1,key2:value2)
statsd_datadog_tags = {{ '' if 'statsd_datadog_tags' not in c.metrics else c.metrics.statsd_datadog_tags }}

# If you want to utilise your own custom Statsd client set the relevant
# module path below.
# Note: The module path must exist on your PYTHONPATH for Airflow to pick it up
# statsd_custom_client_path =

[secrets]
# Full class name of secrets backend to enable (will precede env vars and metastore in search path)
# Example: backend = airflow.providers.amazon.aws.secrets.systems_manager.SystemsManagerParameterStoreBackend
backend = {{ '' if 'backend' not in c.secrets else c.secrets.backend }}

# The backend_kwargs param is loaded into a dictionary and passed to __init__ of secrets backend class.
# See documentation for the secrets backend you are using. JSON is expected.
# Example for AWS Systems Manager ParameterStore:
# ``{"connections_prefix": "/airflow/connections", "profile_name": "default"}``
backend_kwargs = {{ '' if 'backend_kwargs' not in c.secrets else c.secrets.backend_kwargs }}

[cli]
# In what way should the cli access the API. The LocalClient will use the
# database directly, while the json_client will use the api running on the
# webserver
api_client = {{ 'airflow.api.client.local_client' if 'api_client' not in c.cli else c.cli.api_client }}

# If you set web_server_url_prefix, do NOT forget to append it here, ex:
# ``endpoint_url = http://localhost:18080/myroot``
# So api will look like: ``http://localhost:18080/myroot/api/experimental/...``
endpoint_url = {{ baseurl|string }}/myroot

[debug]
# Used only with ``DebugExecutor``. If set to ``True`` DAG will fail with first
# failed task. Helpful for debugging purposes.
fail_fast = {{ 'False' if 'fail_fast' not in c.cli else c.cli.fail_fast }}

[api]
# Enables the deprecated experimental API. Please note that these APIs do not have access control.
# The authenticated user has full access.
#
# .. warning::
#
#   This `Experimental REST API <https://airflow.readthedocs.io/en/latest/rest-api-ref.html>`__ is
#   deprecated since version 2.0. Please consider using
#   `the Stable REST API <https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html>`__.
#   For more information on migration, see
#   `UPDATING.md <https://github.com/apache/airflow/blob/master/UPDATING.md>`_
enable_experimental_api = False

# How to authenticate users of the API. See
# https://airflow.apache.org/docs/stable/security.html for possible values.
# ("airflow.api.auth.backend.default" allows all requests for historic reasons)
auth_backend = {{ 'airflow.api.auth.backend.deny_all' if 'auth_backend' not in c.api else c.api.auth_backend }}

# Used to set the maximum page limit for API requests
maximum_page_limit = 100

# Used to set the default page limit when limit is zero. A default limit
# of 100 is set on OpenApi spec. However, this particular default limit
# only work when limit is set equal to zero(0) from API requests.
# If no limit is supplied, the OpenApi spec default is used.
fallback_page_limit = 100

# The intended audience for JWT token credentials used for authorization. This value must match on the client and server sides. If empty, audience will not be tested.
# Example: google_oauth2_audience = project-id-random-value.apps.googleusercontent.com
google_oauth2_audience =

# Path to Google Cloud Service Account key file (JSON). If omitted, authorization based on
# `the Application Default Credentials
# <https://cloud.google.com/docs/authentication/production#finding_credentials_automatically>`__ will
# be used.
# Example: google_key_path = /files/service-account-json
google_key_path =

[lineage]
# what lineage backend to use
backend =

[atlas]
sasl_enabled = False
host =
port = 21000
username =
password =

[operators]
# The default owner assigned to each new operator, unless
# provided explicitly or passed via ``default_args``
default_owner = airflow
default_cpus = 1
default_ram = 512
default_disk = 512
default_gpus = 0

# Is allowed to pass additional/unused arguments (args, kwargs) to the BaseOperator operator.
# If set to False, an exception will be thrown, otherwise only the console message will be displayed.
allow_illegal_arguments = False

# Default queue that tasks get assigned to and that worker listen on.
default_queue = {{ 'default' if 'default_queue' not in c.operators else c.operators.default_queue }}

[hive]
# Default mapreduce queue for HiveOperator tasks
default_hive_mapred_queue =

# Template for mapred_job_name in HiveOperator, supports the following named parameters
# hostname, dag_id, task_id, execution_date
# mapred_job_name_template =

[webserver]
# The base url of your website as airflow cannot guess what domain or
# cname you are using. This is used in automated emails that
# airflow sends to point links to the right web server
base_url = {{ baseurl|string }}

# Default timezone to display all dates in the UI, can be UTC, system, or
# any IANA timezone string (e.g. Europe/Amsterdam). If left empty the
# default value of core/default_timezone will be used
# Example: default_ui_timezone = America/New_York
default_ui_timezone = UTC

# The ip specified when starting the web server
web_server_host = {{ basehost }}

# The port on which to run the web server
web_server_port = {{ baseport }}

# Paths to the SSL certificate and key for the web server. When both are
# provided SSL will be enabled. This does not change the web server port.
web_server_ssl_cert = {{ '' if 'web_server_ssl_cert' not in c.webserver else c.webserver.web_server_ssl_cert }}

# Paths to the SSL certificate and key for the web server. When both are
# provided SSL will be enabled. This does not change the web server port.
web_server_ssl_key = {{ '' if 'web_server_ssl_key' not in c.webserver else c.webserver.web_server_ssl_key }}

# Number of seconds the webserver waits before killing gunicorn master that doesn't respond
web_server_master_timeout = 120

# Number of seconds the gunicorn webserver waits before timing out on a worker
web_server_worker_timeout = 120

# Number of workers to refresh at a time. When set to 0, worker refresh is
# disabled. When nonzero, airflow periodically refreshes webserver workers by
# bringing up new ones and killing old ones.
worker_refresh_batch_size = 1

# Number of seconds to wait before refreshing a batch of workers.
worker_refresh_interval = 30

# If set to True, Airflow will track files in plugins_folder directory. When it detects changes,
# then reload the gunicorn.
reload_on_plugin_change = False

# Secret key used to run your flask app
# It should be as random as possible
secret_key = {{ 'GX7g16c/KOKh+AfLA+dYzA==' if 'secret_key' not in c.webserver else c.webserver.secret_key }}

# Number of workers to run the Gunicorn web server
workers = {{ '4' if 'workers' not in c.webserver else c.webserver.workers }}

# The worker class gunicorn should use. Choices include
# sync (default), eventlet, gevent
worker_class = {{ 'sync' if 'worker_class' not in c.webserver else c.webserver.worker_class }}

# Log files for the gunicorn webserver. '-' means log to stderr.
access_logfile = {{ '-' if 'access_logfile' not in c.webserver else c.webserver.access_logfile }}

# Log files for the gunicorn webserver. '-' means log to stderr.
error_logfile = {{ '-' if 'error_logfile' not in c.webserver else c.webserver.error_logfile }}

# Access log format for gunicorn webserver.
# default format is %%(h)s %%(l)s %%(u)s %%(t)s "%%(r)s" %%(s)s %%(b)s "%%(f)s" "%%(a)s"
# documentation - https://docs.gunicorn.org/en/stable/settings.html#access-log-format
access_logformat =

# Expose the configuration file in the web server
expose_config = {{ 'True' if 'expose_config' not in c.webserver else c.webserver.expose_config }}

# Expose hostname in the web server
expose_hostname = True

# Expose stacktrace in the web server
expose_stacktrace = True

# Default DAG view. Valid values are: ``tree``, ``graph``, ``duration``, ``gantt``, ``landing_times``
dag_default_view = tree

# Default DAG orientation. Valid values are:
# ``LR`` (Left->Right), ``TB`` (Top->Bottom), ``RL`` (Right->Left), ``BT`` (Bottom->Top)
dag_orientation = LR

# Puts the webserver in demonstration mode; blurs the names of Operators for
# privacy.
demo_mode = False

# The amount of time (in secs) webserver will wait for initial handshake
# while fetching logs from other worker machine
log_fetch_timeout_sec = 5

# Time interval (in secs) to wait before next log fetching.
log_fetch_delay_sec = 2

# Distance away from page bottom to enable auto tailing.
log_auto_tailing_offset = 30

# Animation speed for auto tailing log display.
log_animation_speed = 1000

# By default, the webserver shows paused DAGs. Flip this to hide paused
# DAGs by default
hide_paused_dags_by_default = False

# Consistent page size across all listing views in the UI
page_size = 100

# Define the color of navigation bar
navbar_color = {{ '#fff' }}

# Default dagrun to show in UI
default_dag_run_display_number = 25

# Enable werkzeug ``ProxyFix`` middleware for reverse proxy
enable_proxy_fix = False

# Number of values to trust for ``X-Forwarded-For``.
# More info: https://werkzeug.palletsprojects.com/en/0.16.x/middleware/proxy_fix/
proxy_fix_x_for = 1

# Number of values to trust for ``X-Forwarded-Proto``
proxy_fix_x_proto = 1

# Number of values to trust for ``X-Forwarded-Host``
proxy_fix_x_host = 1

# Number of values to trust for ``X-Forwarded-Port``
proxy_fix_x_port = 1

# Number of values to trust for ``X-Forwarded-Prefix``
proxy_fix_x_prefix = 1

# Set secure flag on session cookie
cookie_secure = False

# Set samesite policy on session cookie
cookie_samesite = {{ 'Lax' if 'cookie_samesite' not in c.webserver else c.webserver.cookie_samesite }}

# Default setting for wrap toggle on DAG code and TI log views.
default_wrap = False

# Allow the UI to be rendered in a frame
x_frame_enabled = True

# Send anonymous user activity to your analytics tool
# choose from google_analytics, segment, or metarouter
# analytics_tool =

# Unique ID of your account in the analytics tool
# analytics_id =

# 'Recent Tasks' stats will show for old DagRuns if set
show_recent_stats_for_completed_runs = True

# Update FAB permissions and sync security manager roles
# on webserver startup
update_fab_perms = True

# The UI cookie lifetime in minutes. User will be logged out from UI after
# ``session_lifetime_minutes`` of non-activity
session_lifetime_minutes = 43200

[email]

# Configuration email backend and whether to
# send email alerts on retry or failure
# Email backend to use
email_backend = airflow.utils.email.send_email_smtp

# Whether email alerts should be sent when a task is retried
default_email_on_retry = True

# Whether email alerts should be sent when a task failed
default_email_on_failure = True

[smtp]

# If you want airflow to send emails on retries, failure, and you want to use
# the airflow.utils.email.send_email_smtp function, you have to configure an
# smtp server here
smtp_host = {{ 'localhost' if 'smtp_host' not in c.smtp else c.smtp.smtp_host }}
smtp_starttls = {{ 'True' if 'smtp_starttls' not in c.smtp else c.smtp.smtp_starttls }}
smtp_ssl = {{ 'False' if 'smtp_ssl' not in c.smtp else c.smtp.smtp_ssl }}
# Example: smtp_user = airflow
# smtp_user =
# Example: smtp_password = airflow
# smtp_password =
smtp_port = {{ '25' if 'smtp_port' not in c.smtp else c.smtp.smtp_port }}
smtp_mail_from = {{ 'airflow@example.com' if 'smtp_mail_from' not in c.smtp else c.smtp.smtp_mail_from }}
smtp_timeout = 30
smtp_retry_limit = 5

[sentry]

# Sentry (https://docs.sentry.io) integration. Here you can supply
# additional configuration options based on the Python platform. See:
# https://docs.sentry.io/error-reporting/configuration/?platform=python.
# Unsupported options: ``integrations``, ``in_app_include``, ``in_app_exclude``,
# ``ignore_errors``, ``before_breadcrumb``, ``before_send``, ``transport``.
# Enable error reporting to Sentry
sentry_on = {{ 'false' if 'sentry_on' not in c.sentry else c.sentry.sentry_on }}
sentry_dsn = {{ '' if 'sentry_dsn' not in c.sentry else c.sentry.sentry_dsn }}

[celery_kubernetes_executor]

# This section only applies if you are using the ``CeleryKubernetesExecutor`` in
# ``[core]`` section above
# Define when to send a task to ``KubernetesExecutor`` when using ``CeleryKubernetesExecutor``.
# When the queue of a task is ``kubernetes_queue``, the task is executed via ``KubernetesExecutor``,
# otherwise via ``CeleryExecutor``
kubernetes_queue = {{ 'kubernetes' if 'kubernetes_queue' not in c.celery_kubernetes_executor else c.celery_kubernetes_executor.kubernetes_queue }}

[celery]

# This section only applies if you are using the CeleryExecutor in
# ``[core]`` section above
# The app name that will be used by celery
celery_app_name = {{ 'airflow.executors.celery_executor' if 'celery_app_name' not in c.celery else c.celery.celery_app_name }}

# The concurrency that will be used when starting workers with the
# ``airflow celery worker`` command. This defines the number of task instances that
# a worker will take, so size up your workers based on the resources on
# your worker box and the nature of your tasks
worker_concurrency = {{ '8' if 'worker_concurrenty' not in c.celery else c.celery.worker_concurrency }}

# The maximum and minimum concurrency that will be used when starting workers with the
# ``airflow celery worker`` command (always keep minimum processes, but grow
# to maximum if necessary). Note the value should be max_concurrency,min_concurrency
# Pick these numbers based on resources on worker box and the nature of the task.
# If autoscale option is available, worker_concurrency will be ignored.
# http://docs.celeryproject.org/en/latest/reference/celery.bin.worker.html#cmdoption-celery-worker-autoscale
# Example: worker_autoscale = 16,12
# worker_autoscale = {{ '16,12' if 'worker_autoscale' not in c.celery else c.celery.worker_autoscale }}

# Used to increase the number of tasks that a worker prefetches which can improve performance.
# The number of processes multiplied by worker_prefetch_multiplier is the number of tasks
# that are prefetched by a worker. A value greater than 1 can result in tasks being unnecessarily
# blocked if there are multiple workers and one worker prefetches tasks that sit behind long
# running tasks while another worker has unutilized processes that are unable to process the already
# claimed blocked tasks.
# https://docs.celeryproject.org/en/stable/userguide/optimizing.html#prefetch-limits
# Example: worker_prefetch_multiplier = 1
# worker_prefetch_multiplier =

# When you start an airflow worker, airflow starts a tiny web server
# subprocess to serve the workers local log files to the airflow main
# web server, who then builds pages and sends them to users. This defines
# the port on which the logs are served. It needs to be unused, and open
# visible from the main web server to connect into the workers.
worker_log_server_port = {{ '8793' if 'worker_log_server_port' not in c.celery else c.celery.worker_log_server_port }}

# Umask that will be used when starting workers with the ``airflow celery worker``
# in daemon mode. This control the file-creation mode mask which determines the initial
# value of file permission bits for newly created files.
worker_umask = 0o077

# The Celery broker URL. Celery supports RabbitMQ, Redis and experimentally
# a sqlalchemy database. Refer to the Celery documentation for more information.
broker_url = {{ 'redis://redis:6379/0' if 'broker_url' not in c.celery else c.celery.broker_url }}

# The Celery result_backend. When a job finishes, it needs to update the
# metadata of the job. Therefore it will post a message on a message bus,
# or insert it into a database (depending of the backend)
# This status is used by the scheduler to update the state of the task
# The use of a database is highly recommended
# http://docs.celeryproject.org/en/latest/userguide/configuration.html#task-result-backend-settings
result_backend = {{ 'db+postgresql://postgres:airflow@postgres/airflow' if 'result_backend' not in c.celery else c.celery.result_backend }}

# Celery Flower is a sweet UI for Celery. Airflow has a shortcut to start
# it ``airflow celery flower``. This defines the IP that Celery Flower runs on
flower_host = {{ '0.0.0.0' if 'flower_host' not in c.celery else c.celery.flower_host }}

# The root URL for Flower
# Example: flower_url_prefix = /flower
flower_url_prefix = {{ '' if 'flower_url_prefix' not in c.celery else c.celery.flower_url_prefix }}

# This defines the port that Celery Flower runs on
flower_port = {{ '5555' if 'flower_port' not in c.celery else c.celery.flower_port }}

# Securing Flower with Basic Authentication
# Accepts user:password pairs separated by a comma
# Example: flower_basic_auth = user1:password1,user2:password2
flower_basic_auth = {{ '' if 'flower_basic_auth' not in c.celery else c.celery.flower_basic_auth }}

# How many processes CeleryExecutor uses to sync task state.
# 0 means to use max(1, number of cores - 1) processes.
sync_parallelism = 0

# Import path for celery configuration options
celery_config_options = airflow.config_templates.default_celery.DEFAULT_CELERY_CONFIG
ssl_active = {{ 'False' if 'ssl_active' not in c.celery else c.celery.ssl_active }}
ssl_key = {{ '' if 'ssl_key' not in c.celery else c.celery.ssl_key }}
ssl_cert = {{ '' if 'ssl_cert' not in c.celery else c.celery.ssl_cert }}
ssl_cacert = {{ '' if 'ssl_cacert' not in c.celery else c.celery.ssl_cacert }}

# Celery Pool implementation.
# Choices include: ``prefork`` (default), ``eventlet``, ``gevent`` or ``solo``.
# See:
# https://docs.celeryproject.org/en/latest/userguide/workers.html#concurrency
# https://docs.celeryproject.org/en/latest/userguide/concurrency/eventlet.html
pool = {{ 'prefork' if 'pool' not in c.celery else c.celery.pool }}

# The number of seconds to wait before timing out ``send_task_to_executor`` or
# ``fetch_celery_task_state`` operations.
operation_timeout = 1.0

# Celery task will report its status as 'started' when the task is executed by a worker.
# This is used in Airflow to keep track of the running tasks and if a Scheduler is restarted
# or run in HA mode, it can adopt the orphan tasks launched by previous SchedulerJob.
task_track_started = True

# Time in seconds after which Adopted tasks are cleared by CeleryExecutor. This is helpful to clear
# stalled tasks.
task_adoption_timeout = 600

# The Maximum number of retries for publishing task messages to the broker when failing
# due to ``AirflowTaskTimeout`` error before giving up and marking Task as failed.
task_publish_max_retries = 3

# Worker initialisation check to validate Metadata Database connection
worker_precheck = False

[celery_broker_transport_options]

# This section is for specifying options which can be passed to the
# underlying celery broker transport. See:
# http://docs.celeryproject.org/en/latest/userguide/configuration.html#std:setting-broker_transport_options
# The visibility timeout defines the number of seconds to wait for the worker
# to acknowledge the task before the message is redelivered to another worker.
# Make sure to increase the visibility timeout to match the time of the longest
# ETA you're planning to use.
# visibility_timeout is only supported for Redis and SQS celery brokers.
# See:
# http://docs.celeryproject.org/en/master/userguide/configuration.html#std:setting-broker_transport_options
# Example: visibility_timeout = 21600
# visibility_timeout =

[dask]

# This section only applies if you are using the DaskExecutor in
# [core] section above
# The IP address and port of the Dask cluster's scheduler.
cluster_address = {{ '127.0.0.1:8786' if 'cluster_address' not in c.dask else d.dask.cluster_address }}

# TLS/ SSL settings to access a secured Dask scheduler.
tls_ca = {{ '' if 'tls_ca' not in c.dask else d.dask.tls_ca }}
tls_cert = {{ '' if 'tls_cert' not in c.dask else d.dask.tls_cert }}
tls_key = {{ '' if 'tls_key' not in c.dask else d.dask.tls_key }}

[scheduler]
# Task instances listen for external kill signal (when you clear tasks
# from the CLI or the UI), this defines the frequency at which they should
# listen (in seconds).
job_heartbeat_sec = 5

# How often (in seconds) to check and tidy up 'running' TaskInstancess
# that no longer have a matching DagRun
clean_tis_without_dagrun_interval = 15.0

# The scheduler constantly tries to trigger new tasks (look at the
# scheduler section in the docs for more information). This defines
# how often the scheduler should run (in seconds).
scheduler_heartbeat_sec = 5

# The number of times to try to schedule each DAG file
# -1 indicates unlimited number
num_runs = -1

# The number of seconds to wait between consecutive DAG file processing
processor_poll_interval = 1

# after how much time (seconds) a new DAGs should be picked up from the filesystem
min_file_process_interval = 0

# How often (in seconds) to scan the DAGs directory for new files. Default to 5 minutes.
dag_dir_list_interval = 300

# How often should stats be printed to the logs. Setting to 0 will disable printing stats
print_stats_interval = 30

# How often (in seconds) should pool usage stats be sent to statsd (if statsd_on is enabled)
pool_metrics_interval = 5.0

# If the last scheduler heartbeat happened more than scheduler_health_check_threshold
# ago (in seconds), scheduler is considered unhealthy.
# This is used by the health check in the "/health" endpoint
scheduler_health_check_threshold = 30

# How often (in seconds) should the scheduler check for orphaned tasks and SchedulerJobs
orphaned_tasks_check_interval = 300.0
child_process_log_directory = {{ logs }}/scheduler

# Local task jobs periodically heartbeat to the DB. If the job has
# not heartbeat in this many seconds, the scheduler will mark the
# associated task instance as failed and will re-schedule the task.
scheduler_zombie_task_threshold = {{ '300' if 'scheduler_zombie_task_threshold' not in c.core else c.core.scheduler_zombie_task_threshold }}

# Turn off scheduler catchup by setting this to ``False``.
# Default behavior is unchanged and
# Command Line Backfills still work, but the scheduler
# will not do scheduler catchup if this is ``False``,
# however it can be set on a per DAG basis in the
# DAG definition (catchup)
catchup_by_default = True

# This changes the batch size of queries in the scheduling main loop.
# If this is too high, SQL query performance may be impacted by one
# or more of the following:
# - reversion to full table scan
# - complexity of query predicate
# - excessive locking
# Additionally, you may hit the maximum allowable query length for your db.
# Set this to 0 for no limit (not advised)
max_tis_per_query = 512

# Should the scheduler issue ``SELECT ... FOR UPDATE`` in relevant queries.
# If this is set to False then you should not run more than a single
# scheduler at once
use_row_level_locking = True

# Max number of DAGs to create DagRuns for per scheduler loop
#
# Default: 10
# max_dagruns_to_create_per_loop =

# How many DagRuns should a scheduler examine (and lock) when scheduling
# and queuing tasks.
#
# Default: 20
# max_dagruns_per_loop_to_schedule =

# Should the Task supervisor process perform a "mini scheduler" to attempt to schedule more tasks of the
# same DAG. Leaving this on will mean tasks in the same DAG execute quicker, but might starve out other
# dags in some circumstances
#
# Default: True
# schedule_after_task_execution =

# The scheduler can run multiple processes in parallel to parse dags.
# This defines how many processes will run.
parsing_processes = 2

# Turn off scheduler use of cron intervals by setting this to False.
# DAGs submitted manually in the web UI or with trigger_dag will still run.
use_job_schedule = True

# Allow externally triggered DagRuns for Execution Dates in the future
# Only has effect if schedule_interval is set to None in DAG
allow_trigger_in_future = False

[kerberos]
ccache = /tmp/airflow_krb5_ccache

principal = {{ 'airflow' if 'principal' not in c.kerberos else c.kerberos.principal }}
reinit_frequency = {{ '3600' if 'reinit_frequency' not in c.kerberos else c.kerberos.reinit_frequency }}
kinit_path = {{ 'kinit' if 'kinit_path' not in c.kerberos else c.kerberos.kinit_path }}
keytab = {{ 'airflow.keytab' if 'keytab' not in c.kerberos else c.kerberos.keytab }}

[github_enterprise]
api_rev = v3

[admin]
# A comma-separated list of sensitive keywords to look for in variables names.
sensitive_variable_fields =

[elasticsearch]
# Elasticsearch host
host = {{ '' if 'host' not in c.elasticsearch else c.elasticsearch.host }}

# Format of the log_id, which is used to query for a given tasks logs
log_id_template = {dag_id}-{task_id}-{execution_date}-{try_number}

# Used to mark the end of a log stream for a task
end_of_log_mark = end_of_log

# Qualified URL for an elasticsearch frontend (like Kibana) with a template argument for log_id
# Code will construct log_id using the log_id template from the argument above.
# NOTE: The code will prefix the https:// automatically, don't include that here.
frontend =

# Write the task logs to the stdout of the worker, rather than the default files
write_stdout = False

# Instead of the default log formatter, write the log lines as JSON
json_format = False

# Log fields to also attach to the json output, if enabled
json_fields = asctime, filename, lineno, levelname, message

[elasticsearch_configs]
use_ssl = False
verify_certs = True

[kubernetes]
# Path to the YAML pod file. If set, all other kubernetes-related fields are ignored.
pod_template_file =

# The repository of the Kubernetes Image for the Worker to Run
worker_container_repository = {{ '' if 'worker_container_repository' not in c.kubernetes else c.kubernetes.worker_container_repository }}

# The tag of the Kubernetes Image for the Worker to Run
worker_container_tag = {{ '' if 'worker_container_tag' not in c.kubernetes else c.kubernetes.worker_container_tag }}

# The Kubernetes namespace where airflow workers should be created. Defaults to ``default``
namespace = {{ 'default' if 'namespace' not in c.kubernetes else c.kubernetes.namespace }}

# If True, all worker pods will be deleted upon termination
delete_worker_pods = {{ 'True' if 'delete_worker_pods' not in c.kubernetes else c.kubernetes.delete_worker_pods }}

# If False (and delete_worker_pods is True),
# failed worker pods will not be deleted so users can investigate them.
delete_worker_pods_on_failure = False

# Number of Kubernetes Worker Pod creation calls per scheduler loop.
# Note that the current default of "1" will only launch a single pod
# per-heartbeat. It is HIGHLY recommended that users increase this
# number to match the tolerance of their kubernetes cluster for
# better performance.
worker_pods_creation_batch_size = {{ '1' if 'worker_pods_creation_batch_size' not in c.kubernetes else c.kubernetes.worker_pods_creation_batch_size }}

# Allows users to launch pods in multiple namespaces.
# Will require creating a cluster-role for the scheduler
multi_namespace_mode = {{ 'False' if 'multi_namespace_mode' not in c.kubernetes else c.kubernetes.multi_namespace_mode }}

# Use the service account kubernetes gives to pods to connect to kubernetes cluster.
# It's intended for clients that expect to be running inside a pod running on kubernetes.
# It will raise an exception if called from a process not running in a kubernetes environment.
in_cluster = {{ 'True' if 'in_cluster' not in c.kubernetes else c.kubernetes.in_cluster }}

# When running with in_cluster=False change the default cluster_context or config_file
# options to Kubernetes client. Leave blank these to use default behaviour like ``kubectl`` has.
cluster_context = {{ '' if 'cluster_context' not in c.kubernetes else c.kubernetes.cluster_context }}

# Path to the kubernetes configfile to be used when ``in_cluster`` is set to False
config_file = {{ '' if 'config_file' not in c.kubernetes else c.kubernetes.config_file }}

# Keyword parameters to pass while calling a kubernetes client core_v1_api methods
# from Kubernetes Executor provided as a single line formatted JSON dictionary string.
# List of supported params are similar for all core_v1_apis, hence a single config
# variable for all apis. See:
# https://raw.githubusercontent.com/kubernetes-client/python/41f11a09995efcd0142e25946adc7591431bfb2f/kubernetes/client/api/core_v1_api.py
kube_client_request_args = {{ '' if 'kube_client_requests_args' not in c.kubernetes else c.kubernetes.kube_client_requests_args }}

# Optional keyword arguments to pass to the ``delete_namespaced_pod`` kubernetes client
# ``core_v1_api`` method when using the Kubernetes Executor.
# This should be an object and can contain any of the options listed in the ``v1DeleteOptions``
# class defined here:
# https://github.com/kubernetes-client/python/blob/41f11a09995efcd0142e25946adc7591431bfb2f/kubernetes/client/models/v1_delete_options.py#L19
# Example: delete_option_kwargs = {"grace_period_seconds": 10}
delete_option_kwargs = {{ '' if 'delete_option_kwargs' not in c.kubernetes else c.kubernetes.delete_option_kwargs }}

# Enables TCP keepalive mechanism. This prevents Kubernetes API requests to hang indefinitely
# when idle connection is time-outed on services like cloud load balancers or firewalls.
enable_tcp_keepalive = False

# When the `enable_tcp_keepalive` option is enabled, TCP probes a connection that has
# been idle for `tcp_keep_idle` seconds.
tcp_keep_idle = 120

# When the `enable_tcp_keepalive` option is enabled, if Kubernetes API does not respond
# to a keepalive probe, TCP retransmits the probe after `tcp_keep_intvl` seconds.
tcp_keep_intvl = 30

# When the `enable_tcp_keepalive` option is enabled, if Kubernetes API does not respond
# to a keepalive probe, TCP retransmits the probe `tcp_keep_cnt number` of times before
# a connection is considered to be broken.
tcp_keep_cnt = 6

[smart_sensor]
# When `use_smart_sensor` is True, Airflow redirects multiple qualified sensor tasks to
# smart sensor task.
use_smart_sensor = {{ 'False' if 'use_smart_sensor' not in c.smart_sensor else c.smart_sensor.use_smart_sensor }}

# `shard_code_upper_limit` is the upper limit of `shard_code` value. The `shard_code` is generated
# by `hashcode % shard_code_upper_limit`.
shard_code_upper_limit = {{ '10000' if 'shard_code_upper_limit' not in c.smart_sensor else c.smart_sensor.shard_code_upper_limit }}

# The number of running smart sensor processes for each service.
shards = {{ '5' if 'shards' not in c.smart_sensor else c.smart_sensor.shards }}

# comma separated sensor classes support in smart_sensor.
sensors_enabled = {{ 'NamedHivePartitionSensor' if 'sensors_enabled' not in c.smart_sensor else c.smart_sensor.sensors_enabled }}
